.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 16px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  box-sizing: border-box;
  
}

.login-title {
  text-align: center;
  color:  #e6d6f0;
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
}

ion-item {
  --background: #513655;
  border-radius: 10px;
  margin-bottom: 14px;

}

ion-input {
  color: #ecc3e5;
}

.login-btn {
  margin-top: 20px;
  --background: linear-gradient(135deg, #631983, #c533df);
  --color: #fff;
  font-weight: 600;
  border-radius: 8px;
 transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.login-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
  --border-radius: 8px;
  font-weight: 600;
}

.login-links ion-button:first-child {
  --background:linear-gradient(135deg, #631983, #c533df);
  --color: #fff;
  --color: #fff;
  box-shadow: 0 3px 6px rgba(123, 31, 162, 0.2);
}

.login-links ion-button:last-child {
  --color: #a29aa5;}

.login-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.error-msg {
  color: #ff5252;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 500px) {
  .login-container {
    max-width: 100%;
    padding: 24px 8px 0 8px;
  }
  .login-title {
    font-size: 1.5rem;
  }
}