.registro-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 16px 0 16px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  box-sizing: border-box;

}

.registro-title {
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

ion-item {
  --background: #fff;
  --background: #513655;
  border-radius: 10px;
  margin-bottom: 14px;

}

ion-input {
  color: #ecc3e5;
}


.registro-btn {
  margin-top: 20px;
  --background: linear-gradient(135deg, #631983, #c533df);
  --color: #fff;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(155, 48, 255, 0.3);
  transition: transform 0.2s ease;
}

.registro-btn:hover {
  transform: translateY(-2px);
}

ion-button[fill="clear"] {
  color: #d1c4e9;
  font-weight: 500;
  text-transform: uppercase;
}

.success-msg {
  color: #00e676;
  margin-top: 10px;
  text-align: center;
}

.error-msg {
  color: #ff5252;
  margin-top: 10px;
  text-align: center;
}

